body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px; /* can set the gap between input element and button element can be added to either of the elements*/
}

button {
    background-color: #5f9341;
    color: white;
    padding: 10px 20px; /* first value = y-axis (top and bottom) , second value = x-axis (left and right)*/
    border: none;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none; /* get rid of bullet pts */
    padding-left: 0; /* get rid of left-hand space */
}

li {
    margin-top: 5px;
}

a { /* target all anchor tags */
    color: #5f9341;
}